@import 'tailwindcss';

@theme {
  --color-custom-black: #00040D;
  --color-custom-red: #BE1622;
  --color-custom-gray: #191D25;
}
body {
  background-color: var(--color-custom-black);
  color: var(--color-white);
  font-family: 'Almarai', sans-serif, Arial, Helvetica, sans-serif;
}

